@import "reset.css";
@import "variables.scss";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container   {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}
    
.header {
    background-color: #FFFFFF;
}

.header .header-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    display: flex;
    min-height: 116px;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 1120px;
}

.header .header-font {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #5C6A79;
}

.db {
    display: block;
}

.header .header-logo-text {
    font-size: 24px;
    line-height: 29px;
    color: #1C2A39;
} 

/*    .header .nav {
    margin-left: 95px;
}*/

.header .header-ref-list {
    width: 372px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.header .header-ref-text {
    color: #5C6A79;
    text-decoration: none;
}

.header .header-font-selected {
    font-weight: 900;
    color: #1C2A39;
}

.header .header-icons-wrapper {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.header .header-user-icon {
    width: 12px;
    height: 15px;
    background-image: url('icons/user.svg');
    background-size: 12px 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.header .header-search-icon {
    width: 15px;
    height: 15px;
    background-image: url('icons/search.svg');
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.header .header-shop-bag-icon {
    position: relative;
    width: 14px;
    height: 17px;
    background-image: url('icons/shop\ bag.svg');
    background-size: 14px 17px;
    background-position: center;
    background-repeat: no-repeat;
}

.header .header-shop-bag-icon::after {
    position: absolute;
    content: '3';
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background: #FF353A;
    border-radius: 7px;
    width: 13px;
    height: 13px;
    top: 8px;
    left: 4px;
}

.main {
    background-color: #FFFFFF;
    margin-top: 116px;
}

.section1 {
    min-height: 839px;
}

.section1 .slider {
    position: relative;
  }
  
.section1 .slider__images {
    position: relative;
    width: 1120px;
    height: 702px;
  }
  
.section1 .slider__images-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 7px 0;
  }
  
.section1 .slider__images .image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 800ms ease;
  }
  
.section1 .slider__images .image.active {
    opacity: 1;
  }
  
.section1 .slider__arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
  }
  
.section1 .slider__arrow {
    position: absolute;
    width: 15%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    background: rgba(243, 166, 166, 0.4);
    transition: opacity 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.section1 .slider__arrow:hover {
    opacity: 1;
  }
  
.section1  .slider__arrow.left {
    left: 0;
  }
  
.section1  .slider__arrow.right {
    right: 0;
  }
  
.section1 .slider__dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
  }
  
.section1 .slider__dots-item {
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background 0.4s ease;
  }
  
.section1 .slider__dots-item:hover, .slider__dots-item.active {
    background: #000;
  }

.section1-slider-link1 {
    position: absolute;
    right: -86px;
    top: 79px;
}

.section1-slider-link2 {
    position: absolute;
    right: -160px;
    top: 362px;
}

.section1-link1-image {
    background-image: url('../src/images/promo\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 149px;
    height: 204px;
}

.section1-link2-image {
    background-image: url('../src/images/promo\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 137px;
    height: 273px;
}

.section2 {
    min-height: 710px;
    position: relative;
}

.section2 .category-list {
    background: #EFEEF6;
    position: absolute;
    z-index: 0;
    left: -160px;
    width: 416px;
    padding-top: 45px;
    padding-left: 160px;
    padding-bottom: 58px;
}

.section2 .category-list-li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    color: #5C6A79;
    margin-bottom: 23px;
    cursor: pointer;
}

.section2 .category-list-li-selected {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #1C2A39;
    position: relative;
}

.section2 .category-list-li-selected::before {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: -20px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #756AD3;
}

.section2 .cards-container {
    margin-left: 196px;
    min-height: 900px;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.section2 .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0;
}

.section2 .card {
    width: 415px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.section2 .img {
    width: 212px;
    background: #EEECEC;
    box-shadow: 0px 24px 36px rgba(53, 49, 84, 0.28);
    position: relative;
}

.section2 .book-cover {
    height: 100%;
    width: 100%;
}

.section2 .desc {
    width: 176px;
}

.section2 .card .author {
    margin-top: 49px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}

.section2 .card .book-title {
    margin-top: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1C2A39;
}

.section2 .card .rating {
    margin-top: 4px;
    width: 127px;
    height: 14px;
    display: flex;
    align-items: center;
    position: relative;
}

.section2 .card .book-desc {
    margin-top: 16px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #5C6A79;
}

.section2 .card .price {
    margin-top: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1C2A39;
}

.section2 .card .buy-btn {
    cursor: pointer;
    margin-top: 16px;
    width: 176px;
    height: 45px;
    border: 1px solid #4C3DB2;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: #4C3DB2;
}

.section2 .card .buy-btn-in-the-card {
    border: 1px solid #EEEDF5;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: #5C6A79;
}

.section2 .card .pale-stars {
    width: 60px;
    height: 12px;
    background-image: url("images/paleStar.png");
}

.section2 .card .stars {
    position: absolute;
    height: 12px;
    background-image: url("images/Star.png");
}

.section2 .card .review-amount {
    margin-left: 6px;
    height: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #5C6A79;
}

.section2 .btn-load-more-div {
    height: 160px;
}

.section2 .btn-load-more {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 176px;
    height: 45px;
    border: 1px solid #4C3DB2;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: #4C3DB2;
}

